@import "/src/app/shared/styles/variables";

:host {
  background-color: $primaryYellowColor;
  position: sticky;
  top: 0;
  z-index: 9;
  display: flex;
  align-items: center;
  height: 6rem;
  @media (min-width: $md) {
    background-color: #fff;
  }
  @media (min-width: $lg) {
    height: 120px;
  }
}

li:hover, li.selected {
    @media (min-width: $md) {
        color: $primaryBlackColor;
        cursor: pointer;
    }
}

button.menu {
    color: $primaryBlackColor;
}
