<div class="container container-influencers">
    <h2 class="main-title">Influencers</h2>
    <ul class="influencers-list">
        <li class="influencers-item">
            <a [routerLink]="['/']" routerLinkActive="router-link-active" class="influencers-item-link">
                <img src="/assets/images/icons/old-influencer.png" alt="icone de influencers"
                    class="influencers-item-image">
            </a>
        </li>
        <li class="influencers-item">
            <a [routerLink]="['/']" routerLinkActive="router-link-active" class="influencers-item-link">
                <img src="/assets/images/icons/woman-influencer.png" alt="icone de influencers"
                    class="influencers-item-image">
            </a>
        </li>
        <li class="influencers-item">
            <a [routerLink]="['/']" routerLinkActive="router-link-active" class="influencers-item-link">
                <img src="/assets/images/icons/boy-influencer.png" alt="icone de influencers"
                    class="influencers-item-image">
            </a>
        </li>
    </ul>
    <p class="influencers-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
        euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
        exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
    <button class="influencers-button">Solicitar orçamento</button>
</div>