<div class="second-banner">
    <div class="bg">
        <h2 class="title-box">
            <span class="first-title-text">seja muito</span>
            <div class="second-title-group">
                <span class="second-title-text">bem-vindo</span>
                <div class="images-group">
                    <img src="/assets/images/icons/tres-linhas-pretas.png" class="title-image" alt="tres linhas pretas">
                    <img src="/assets/images/icons/tres-linhas-amarelas.png" class="title-image"
                        alt="tres linhas amarelas">
                </div>
            </div>
            <span class="subtitle-box">ao nosso universo particular</span>
        </h2>
        <img src="/assets/images/logo-santo-job-centralizado.png" class="logo-img" alt="logo santo job">
    </div>
</div>