<div class="container sponsors-container">
    <h2 class="sponsors-title">Parceiros</h2>
    <div class="sponsors-list">
        <img class="sponsors-item" src="/assets/images/partner-01.png" alt="Mac Donald">
        <img class="sponsors-item" src="/assets/images/partner-02.png" alt="Oi">
        <img class="sponsors-item" src="/assets/images/partner-03.png" alt="Ambev">
        <img class="sponsors-item" src="/assets/images/partner-04.png" alt="Brahma">
        <img class="sponsors-item" src="/assets/images/partner-05.png" alt="Budweiser">
    </div>
</div>
