@import "/src/app/shared/styles/variables";

:host {
  background-color: white;
}

.sponsors-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @media (min-width: $lg) {
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 1rem;
  }

  .sponsors-title {
    font-size: 1.125rem;
    font-family: 'Futura Book';
    text-align: center;
    opacity: 0.3;

    @media (min-width: $lg) {
      font-size: 1.25rem;
    }

  }

  .sponsors-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;

    .sponsors-item {
      width: 25%;

      @media (min-width: $md) {
        width: 80px;
      }
    }
  }
}
