@import "/src/app/shared/styles/variables";

:host {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: calc(100vh - 80px);

  @media (min-width: $lg) {
    height: calc(100vh - 120px);
  }
}

.container-who-are-we {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  padding: 1rem;
  gap: 2rem;
  height: calc(100vh - 80px);

  &.page-1 {
    justify-content: space-around;
  }

  @media (min-width: $lg) {
    height: calc(100vh - 120px);
  }

  @media (min-width: $md) {
    gap: 1rem;
  }

  @media (min-width: $xl) {
    gap: 4rem;
  }

  .main-title {
    font-size: 1.25rem;
    font-family: 'Futura Book';
    text-align: center;

    @media (min-width: $md) {
      font-size: 2rem;
    }
  }

  .main-content-section {
    display: flex;
    gap: 2rem;
    flex-direction: column;

    @media (min-width: $md) {
      gap: 1rem;
    }

    @media (min-width: $lg) {
      flex-direction: row;
      position: relative;
      align-items: center;
      gap: 2rem;
    }

    .joao-neto-image {
      @media (max-width: $lg) {
        display: flex;
        flex-wrap: wrap;
      }

      @media (min-width: $lg) {
        width: 200px;
        margin: 0;
      }

      img {
        border-radius: 50%;
        border: 2px solid;
        padding: 0.25rem;
        width: 100px;

        @media (min-width: $md) {
          width: 150px;
        }

        @media (min-width: $lg) {
          width: 100%;
          margin: 0;
        }
      }

      .image-titles-tablet {

          width: calc(100% - 100px);
          align-items: flex-start;
          display: flex;
          flex-direction: column;
          align-self: center;
          padding-left: 1rem;


        @media (min-width: $md) {
          width: calc(100% - 150px);
        }

        .text-content-title {
          display: none;

          @media (max-width: $md) {
            text-align: center;
          }

          @media (max-width: $lg) {
            display: block;
            font-size: 1rem;
            text-align: left;
            font-family: 'Futura Book';
          }
        }

        .text-content-subtitle {
          display: none;

          @media (max-width: $md) {
            text-align: center;
          }

          @media (max-width: $lg) {
            display: block;
            text-align: left;
            font-size: 1rem;
            width: 80%;
          }
        }
      }


    }

    .text-content {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @media (min-width: $lg) {
        width: 55%;
      }

      @media (min-width: $xl) {
        width: 50%;
      }

      .text-content-title {
        text-align: center;
        font-family: 'Futura Book';
        font-size: 1.25rem;

        @media (min-width: $md) and (max-width: $lg) {
          display: none;
        }

        @media (min-width: $lg) {
          text-align: left;
          font-size: 1.25rem
        }
      }

      .text-content-subtitle {
        text-align: center;
        font-size: 1.25rem;

        @media (min-width: $md) and (max-width: $lg) {
          display: none;
        }

        @media (min-width: $lg) {
          text-align: left;
          font-size: 1.25rem;
          width: 80%;
        }
      }

      .text-content-description {
        font-size: 1rem;

        @media (min-width: $md){
          width: 90%;
        }

        @media (min-width: $lg) {
          width: 100%;
          text-align: left;
        }

        // @media (min-width: $xl) {
        //   width: 75%;
        // }
      }
    }

    .map-section {
      .map-image {

        @media (min-width: $md) and (max-width: $lg) {
          position: absolute;
          right: -25%;
          top: -10px;
          width: 60%;
        }

        @media (min-width: $lg) {
          position: absolute;
          right: -15%;
          top: -50px;
          width: 40%;
        }

        @media (min-width: $xl) {
          right: 0;
          top: -110px;
          width: 400px;
          z-index: 2;
        }


      }
    }
  }

  .see-more-btn {
    background: #0091DA 0% 0% no-repeat padding-box;
    border-radius: 16px;
    color: white;
    font-family: "Futura Book";
    padding: 0.35rem 2rem;
    font-size: 14px;
    align-self: center;
    @media (min-width: $md) {
      display: none;
    }
  }


}

.footer-content {
  background-color: $primaryBlueColor;
  position: absolute;
  bottom: 80px;
  width: 100%;
  padding: 1rem 0;
  border-top: 1px solid white;

  @media (min-width: $sm) {
    border-top: none;
    bottom: 5rem;
  }

  @media (min-width: $md) {
    border-top: none;
    bottom: 5rem;
  }

  @media (min-width: $lg) {
    bottom: 120px;
  }

  @media (min-width: $xl) {
    padding: 2rem 0;
  }

  .footer-content-text {
    color: white;
    font-size: 1rem;
    line-height: 23px;

    @media (min-width: $lg) {
      line-height: 30px;
    }
  }
}
