// Colors
$primaryBlueColor: #0093D8;
$primaryYellowColor: #D6C300;
$primaryBlackColor: #231F20;
$disableColor: #D9D9D9;

.color-primary-blue {
    color: $primaryBlueColor;
}

.color-primary-yellow {
    color: $primaryYellowColor;
}

.color-primary-black {
    color: $primaryBlackColor;
}

.color-disable {
    color: $disableColor;
}


//breakpoints
$sm: '640px';
$md: '768px';
$lg: '1024px';
$xl: '1280px';