@import "/src/app/shared/styles/variables";

main {
  height: auto;
  @media (min-width: $lg) {
    height: calc(100vh - 120px);
  }
}

footer{
  height: auto;
  @media (min-width: $lg) {
    height: calc(100vh - 120px);
  }
}

.container-services {
  display: flex;
  flex-direction: column;
  .services-header {
    display: flex;
    height: 25%;
    .back-btn {
      background: #0091DA 0% 0% no-repeat padding-box;
      border-radius: 24px;
      color: white;
      font-family: 'Futura Book';
      padding: 0.125rem 2rem;
      font-size: 12px;
      align-self: self-end;
      @media (min-width: $lg) {
        padding: 0.5rem 3rem;
        align-self: center;
        font-size: 1rem;
      }
    }
  }
  .services-content {
    padding: 2rem 0;
    background: transparent radial-gradient(closest-side at 47% 60%, #80CFD8 0%, #67B9CD 100%) 0% 0% no-repeat padding-box;
    position: relative;
    height: 75%;
    .services-content-text {
      color: white;
      margin-left: 0;
      line-height: 35px;
    }
    .services-content-button {
      background: #0091DA 0% 0% no-repeat padding-box;
      border-radius: 33px;
      color: white;
      padding: 0.5rem 0;
      font-family: 'Futura Book';
    }
  }

  .card-section {
    margin-top: -5rem;
    width: 280px;
    @media (min-width: $lg) {
      width: 300px;
    }
  }

}


