<header app-header *ngIf="visibleHeader" [activeMenu]='activeSlide' (click)="reload()" (onItemMenuSelected)="onSelectedSlide($event)"></header>
<swiper [direction]="'vertical'" [slidesPerView]="1" [spaceBetween]="30" [mousewheel]="true" [pagination]="{
      clickable: true
    }" class="mySwiper" (slideChange)="onSlideChange($event)" (swiper)="onSwiper($event)" >
  <ng-template swiperSlide>
    <section app-first-banner></section>
  </ng-template>
  <ng-template swiperSlide>
    <section app-second-banner></section>
  </ng-template>
  <ng-template swiperSlide>
    <section app-third-banner></section>
  </ng-template>
  <ng-container *ngIf="!isMobile">
    <ng-template swiperSlide>
      <section app-who-are-we></section>
    </ng-template>
  </ng-container>
  <ng-container *ngIf="isMobile">
    <ng-template swiperSlide>
      <section app-who-are-we view='page-1'></section>
    </ng-template>
    <ng-template swiperSlide>
      <section app-who-are-we view='page-2'></section>
    </ng-template>
  </ng-container>
  <ng-container *ngIf="!isMobile">
    <ng-template swiperSlide>
      <section app-what-do-we-do></section>
    </ng-template>
  </ng-container>
  <ng-container *ngIf="isMobile">
    <ng-template swiperSlide>
      <section app-what-do-we-do view='page-1'></section>
    </ng-template>
    <ng-template swiperSlide>
      <section app-what-do-we-do view='page-2'></section>
    </ng-template>
  </ng-container>
  <ng-template swiperSlide>
    <section app-influencers></section>
  </ng-template>
  <ng-template swiperSlide>
    <section app-curiosity></section>
  </ng-template>
  <ng-container *ngIf="!isMobile && !isTablet">
    <ng-template swiperSlide>
      <footer app-footer></footer>
    </ng-template>
  </ng-container>
  <ng-container *ngIf="isMobile || isTablet">
    <ng-template swiperSlide>
      <footer app-footer view='page-1'></footer>
    </ng-template>
    <ng-template swiperSlide>
      <footer app-footer view='page-2'></footer>
    </ng-template>
  </ng-container>
</swiper>
