<div class="third-banner">
    <div class="bg">
        <h2 class="title-section">
            <span class="symbol" aria-hidden="true">-</span>
            <span class='title-one'>
                <span class="title-one-text">nAo fazEMos milaGREs</span>
                <span class="images-group">
                    <img loading="lazy" src="/assets/images/icons/tres-linhas-pretas.png" class="title-image" alt="tres linhas pretas">
                    <img loading="lazy" src="/assets/images/icons/tres-linhas-amarelas.png" class="title-image"
                        alt="tres linhas amarelas">
                </span>
            </span>
            <span class="subtitle-box">mas chegamos bem perto!</span>
        </h2>
        <img loading="lazy" src="/assets/images/logo-santo-job-centralizado.png" class="logo-img" alt="logo santo job">
        <fa-icon [icon]="icons['chevronDown']" class="arrow-down" (click)="goToNextSlide(3)"></fa-icon>
    </div>
</div>
