@import "/src/app/shared/styles/variables";

:host {
  height: calc(100vh - 80px);
  @media (min-width: $lg) {
    height: calc(100vh - 120px);
  }
}

.container-what-do-we-do {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  padding: 1rem;
  gap: 1rem;

  @media (min-width: $lg) {
    padding: 2rem;
    gap: 3rem;
  }

  .main-title {
    font-size: 1.25rem;
    font-family: 'Futura Book';
    text-align: center;

    @media (min-width: $md) {
      font-size: 2rem;
    }
  }

  .main-content-section {
    display: flex;
    gap: 1rem;
    flex-direction: column;

    @media (min-width: $lg) {
      flex-direction: row;
      position: relative;
      align-items: center;
    }

    .services-list {
      .services-item {
        &:nth-child(odd) {
          .services-item-link {
            background-color: $primaryBlueColor;
          }
        }

        &:nth-child(even) {
          .services-item-link {
            background-color: $primaryYellowColor;
          }
        }

        @media (max-width: $sm) {
          &:nth-child(3) {
            .services-item-link {
              background-color: $primaryYellowColor;
            }
          }

          &:nth-child(4) {
            .services-item-link {
              background-color: $primaryBlueColor;
            }
          }
        }

        @media (min-width: $md) {
          &:nth-child(5), &:nth-child(7), &:nth-child(10), &:nth-child(12) {
            .services-item-link {
              background-color: $primaryYellowColor;
            }
          }

          &:nth-child(6), &:nth-child(8), &:nth-child(9), &:nth-child(11) {
            .services-item-link {
              background-color: $primaryBlueColor;
            }
          }
        }

        @media (min-width: $lg) {
          &:nth-child(7), &:nth-child(9), &:nth-child(11) {
            .services-item-link {
              background-color: $primaryYellowColor;
            }
          }

          &:nth-child(8), &:nth-child(10), &:nth-child(12) {
            .services-item-link {
              background-color: $primaryBlueColor;
            }
          }
        }

        .services-item-link {
          box-shadow: 3px 3px 5px #00000080;
          border-radius: 34px;
          padding: 1rem;
          display: flex;
          flex-direction: column;
          text-align: center;
          color: white;
          font-size: 'Futura Book';
          font-size: 1rem;
          justify-content: center;
          align-items: center;
          gap: .5rem;

          .services-item-image {
            height: 2rem;
          }

          .services-item-text {
            min-height: 3rem;
          }
        }

      }
    }
  }
}
