@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "~swiper/swiper-bundle";
/* You can add global styles to this file, and also import other style files */

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Futura Bk BT'
}


@media (min-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}
